
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main> section{
   margin-top: 130px;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark02 */
.text-gray{
color: #424242;
}
/* dark03 */
.text-light-gray{
color: #727272;
}
.bg-ligth{
    background-color: rgba(255, 144, 14, 0.1);
}


/* header styles */

/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
/* navbar styles */
.nav-item{
    list-style:none ;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: medium;
}
.nav-bar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.btn{
    background-color:rgba(255, 144, 14, 1);
   width: 180px;
   height: 65px;
}
/* banner related content */
.banner-content{
    max-width: 850px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
   
}
.banner img{
    width: 100%;
}
/* team and feature related styel */
.team{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
.banner-description ,.feature-description{
    color: #727272;
}
#quick-list-2{
    color: rgba(255, 144, 14, 1);
}

/* responsive media query */
@media screen and (max-width:575px) {
    .nav-bar, .nav-link{
        flex-direction: column;
    }
}
